.prompt {
    display: none !important;
}

.inner_cell {
    width: 100%;
}

#sidebar {
    word-break: normal;
    -moz-hyphens: none;
    hyphens: none;
}

.page-header {
    padding-bottom: 0px;
    margin: 22px 0 0px;
    border-bottom: 1px solid transparent;
}

div.entry-content {
    overflow: visible;
    padding: 8px;
    padding-top: 0px;
}

.panel-body {
    padding: 15px;
    padding-top: 0px;
}

.post-info {
    line-height: 1.9em;
}

.content-container .row .col-sm-9 {
    background: white;
    box-shadow: 0 0 5px #dadada;
    border-radius: 4px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.content-container .row {
    margin-top: 5px;
}

.content-container {
    background: #a7bed3;
    border-radius: 4px;
    margin-top: 40px;
    min-height: 70%;
    min-height: -webkit-calc(100% - 139px);
    min-height: -moz-calc(100% - 139px);
    min-height: calc(100% - 139px);
}

.navbar-container {
    background: #b80c09;
    border-radius: 0px;
}

.navbar {
    background: #b80c09;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #2c3e50;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #2c3e50;
    background-color: transparent;
}

body {
    background-color: #f3f9ff;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23b80c09' fill-opacity='0.13' fill-rule='evenodd'/%3E%3C/svg%3E");
}

article {
    background: white;
}

.page-header {
    padding-bottom: 0px;
    margin: 22px 0 0px;
    border-bottom: 1px solid transparent;
}

.row {
    margin-right: -15px;
    margin-left: 0px;
}

h1, .h1 {
    font-size: 185.7%;
    font-weight: normal !important;
}

h2 {
    font-size: 157.1%;
    font-weight: normal !important;
}

h3 {
    font-size: 128.6%;
    font-weight: normal !important;
}

.article-footer {
    background: #2c3e50;
    margin-left: -15px;
    margin-right: -15px;
    color: white;
    padding: 5px 0 5px 40px;
    font-weight: bold
}

.tag {
    font-weight: normal;
}

.pagination-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {

    z-index: 2;
    color: #ffffff;
    background-color: #7f0806;
    border-color: transparent;
    cursor: default;

}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {

    color: #ffffff;
    background-color: #7f0806;
    border-color: transparent;

}

.pagination > li > a, .pagination > li > span {

    position: relative;
    float: left;
    padding: 10px 15px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #ffffff;
    background-color: #ba0c09;
    border: 1px solid transparent;
    margin-left: -1px;

}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {

    color: #ecf0f1;
    background-color: #b7b5b3;
    border-color: transparent;
    cursor: not-allowed;

}

.page-header h1 {
    color: #b80c09;
    text-decoration: underline;
}

.bookmark {
    position: relative;
    height: 70px;
    width: 50px;
    padding: 0px;
    margin-left: -75px;
    margin-bottom: -60px;
    -webkit-transform: rotate(0deg) skew(0deg);
    transform: rotate(90deg) skew(0deg);
    border-left: 25px solid #b80c09;
    border-right: 25px solid #b80c09;
    border-bottom: 25px solid transparent;
}

.bookmark:after, .bookmark:before, .bookmark {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

footer > .container > .row {
    background: #b80c09;
    margin: 30px -70px 0 -70px;
    padding: 10px 10px 5px 10px;
    color: white;
    border-radius: 10px 10px 0 0;
}

.about_logo {
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.about_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

